.App {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.AppMobile {
  display: none;
}

.componentWrapper {
  box-sizing: border-box;
  height: 100%;
  width: 33.333%;
  padding: 5px 10px;
  text-align: center;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.componentWrapper:hover {
  background: rgb(223, 230, 233);
}

.titleComponent {
  flex-grow: 1;
}

.innerCircle {
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
  max-height: 150px;
  margin: 0px auto;
  border-radius: 50%;
  margin-bottom: 20px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.75);
  background: rgb(255, 255, 255);
  overflow: hidden;
}

.circleValue {
  font-size: 22px;
}

.ytd {
  display: inline-block;
  width: 49.5%;
}

.ytd p {
  margin: 0px;
  font-size: 12px;
}

.pp {
  display: inline-block;
  width: 49.5%;
}

.pp p {
  margin: 0px;
  font-size: 12px;
}

.ppValue {
  color: rgb(48, 187, 60);
}

.contentBlockWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.textBlockWrapper {
  margin-bottom: 20px;
}

.textTitle {
  color: rgb(173, 173, 173);
  margin-bottom: 5px;
}

.textValue {
  font-size: 28px;
  margin: 0px;
}

/* For slider */

.container {
  margin: 0 auto;
  width: auto;
  height: 100vh;
  box-sizing: border-box;
}

.variable-width .slick-slide p {
  background: blue;
  height: 100px;
  color: #fff;
  margin: 5px;
  line-height: 100px;
  text-align: center;
}
.center .slick-center h3 {
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08);
}
.center h3 {
  opacity: 0.8;
  transition: all 300ms ease;
}
.content {
  padding: 20px;
  margin: auto;
  width: 90%;
}
.slick-slide .image {
  padding: 10px;
}
.slick-slide img {
  border: 5px solid #fff;
  display: block;
  margin: auto;
}
.slick-slide img.slick-loading {
  border: 0;
}
.slick-slider {
  margin: 30px auto 50px;
}
.slick-dots {
  margin-left: 0;
}
.slick-thumb {
  bottom: -45px;
}
.slick-thumb li {
  width: 60px;
  height: 45px;
}
.slick-thumb li img {
  filter: grayscale(100%);
}
.slick-thumb li.slick-active img {
  filter: grayscale(0%);
}
@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
  .center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1);
  }
  .center h3 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }
}
.slick-vertical .slick-slide {
  height: 180px;
}
.slick-arrow {
  background-color: grey;
  /* color: black; */
}
.slick-arrow:hover {
  background-color: grey;
}

/* For slider */

/* For mobile */

@media (max-width: 768px) {
  .AppMobile {
    display: block;
  }

  .App {
    display: none;
  }

  .container .slick-slider {
    margin: 0px;
  }
  .container .componentWrapper {
    width: 100%;
  }
}

/* For mobile */
